
<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Abgular Material Crud Operation</span>
    <!-- <input type="button"  routerLink="/about">
    <a routerLink="/about">About</a>
<a routerLink="/contact">Contact</a>
<a routerLink="/status">Status</a> -->
    
    <button mat-icon-button class="add-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon (click)="openDialog()" >person_add</mat-icon> 
      </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
 


<app-contact></app-contact>




